// Fonts styles
@font-face {
  font-family: "Merriweather-Regular";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Merriweather-Regular.woff2") format("woff2"),
    url("../fonts/Merriweather-Regular.woff") format("woff");
}

@font-face {
  font-family: "Merriweather-Bold";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Merriweather-Bold.woff2") format("woff2"),
    url("../fonts/Merriweather-Bold.woff") format("woff");
}

@font-face {
  font-family: "Rubik-Light";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Rubik-Light.woff2") format("woff2"),
    url("../fonts/Rubik-Light.woff") format("woff");
}
