// Global styles

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: $text-color;
  @extend %rubic;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1350px;
}

.logo {
  max-width: 90px;
  max-height: 30px;
}

.title {
  @include txt(1);
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  max-height: 1.2em;
  font-size: 30px;
  line-height: 37px;
  @extend %mw-bold;

  &::after {
    @include pseudo();
    right: -15px;
    top: 17px;
    width: 4px;
    height: 30px;
    background-color: $acnt-color;
    transform: skewX(-45deg);
  }
}

.subtitle {
  @include txt(2);
  display: block;
  margin-bottom: 25px;
  font-size: 24px;
  @extend %mw-regular;
}

.star {
  display: inline;
}

.btn {
  @include txt(1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 20px 50px;
  max-width: 260px;
  max-height: 50px;
  color: #ffffff;
  background-color: $acnt-color;
  transition: transform 0.6s;
  cursor: pointer;
  @extend %mw-regular;

  &:hover {
    transform: scale(1.05);
  }
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  padding: 0;
  background-color: transparent;
  transform: translateY(-150%);
  cursor: pointer;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}
