// Variables

$text-color: #333333;
$btn-color: #fed100;
$bg-color: #0466c8;

%mw-regular {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

%mw-bold {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

%rubic {
  font-family: "Rubik-Light", sans-serif;
  font-weight: 300;
}
