// Variables

$text-color: #333333;
$acnt-color: #0466c8;
$bg-color: #bbe1fa;

%mw-regular {
  font-family: "Merriweather-Regularr", sans-serif;
  font-weight: 400;
}

%mw-bold {
  font-family: "Merriweather-Bold", sans-serif;
  font-weight: 700;
}

%rubic {
  font-family: "Rubik-Light", sans-serif;
  font-weight: 300;
}
