@import "vars";
@import "mixin";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "animations";
@import "components/header";
@import "components/best";
@import "components/review";
@import "components/auto";
@import "components/order";
@import "components/price";
@import "components/footer";

.up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &--animated {
    animation-name: "up";
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

.map {
  margin-bottom: 60px;
  @include mq("1024") {
    margin-bottom: 30px;
  }

  &__address {
    display: inline-block;
    margin: 25px 0;
    border-bottom: 1px solid $acnt-color;
    font-size: 22px;
    line-height: 1.5em;
    color: $text-color;
    @include mq("1024") {
      font-size: 17px;
    }
  }
}
