@import "vars";
@import "mixin";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import "animations";
@import "pages/404";
@import "components/header";
@import "components/footer";

.up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  display: none;
  width: 32px;
  height: 32px;
  cursor: pointer;

  &--animated {
    animation-name: up;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

.best {
  margin-bottom: 60px;

  &__inner {
    background-position: left bottom;
    background-size: 60%;
    background-repeat: no-repeat;
  }

  &__content {
    margin-left: auto;
    max-width: 55%;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
    border-bottom: 2px solid $acnt-color;
    padding-bottom: 10px;
  }

  &__choise {
    display: flex;
    align-items: center;
    transition: transform 0.6s;
    cursor: default;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__pic {
    margin-right: 15px;
    max-width: 50px;
    max-height: 50px;
  }

  &__text {
    @include txt(2);
    max-height: 2.2em;
    display: block;
    max-width: 130px;
  }

  &__list {
    list-style: decimal-leading-zero;
  }

  &__item {
    min-width: 50%;
    font-size: 20px;
    color: $acnt-color;
    @extend %mw-regular;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__txt {
    @include txt(2);
  }

  &__description {
    @include txt(2);
    margin: 15px 0;
    color: $text-color;
    @extend %rubic;
  }
}

.reviews {
  border-radius: 0 100px 0;
  padding: 30px 0;
  background: linear-gradient(to top left, $bg-color 50%, #ffffff);

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    margin: 0 auto;
    max-width: 260px;
  }
}

.review {
  margin-bottom: 60px;
  border-left: 2px solid $acnt-color;
  padding-left: 15px;
  max-width: 30%;
  transition: transform 0.6s;
  cursor: default;

  &:not(:last-child) {
    margin-right: 25px;
  }

  &:hover {
    transform: translateY(-15px);
  }

  &__name {
    @include txt(1);
    display: block;
    margin-right: 15px;
    max-height: 1.2em;
    font-style: italic;
    font-size: 20px;
  }

  &__date {
    @include txt(1);
    max-width: 100px;
    max-height: 1.2em;
  }

  &__text {
    @include txt(7);
  }
}

.auto {
  margin: 60px 0;

  &__info {
    @include txt(1);
    margin-bottom: 25px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    @extend %mw-regular;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__title {
    display: block;
    margin-bottom: 25px;
    font-size: 24px;
    @extend %mw-regular;
  }

  &__subtitle {
    @include txt(1);
    display: block;
    margin-bottom: 25px;
    max-width: 100px;
    font-size: 24px;
    @extend %mw-regular;
  }

  &__list {
    margin-bottom: 25px;
  }

  &__item {
    position: relative;
    padding-left: 15px;

    &::before {
      content: "✔";
      position: absolute;
      left: 0;
      top: 0;
      color: $acnt-color;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    p {
      @include txt(1);
      max-width: 250px;
    }
  }

  &__img {
    max-width: 50%;
    object-fit: contain;
  }
}

.price {
  border-radius: 0 100px 0;
  padding: 30px 0;
  background: linear-gradient(to top left, $bg-color 50%, #ffffff);

  &__subtitle {
    @include txt(1);
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    max-height: 1.2em;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
    margin: 0 auto;
    border: 1px solid $acnt-color;
    border-radius: 0 40px 0 0;
    padding: 35px 15px;
    min-width: 300px;

    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__title {
    @include txt(1);
    margin-bottom: 25px;
    max-width: 250px;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: $text-color;
    @extend %mw-regular;
  }

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    padding: 0 15px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    p {
      @include txt(1);
      margin-bottom: 30px;
      max-width: 250px;
    }
  }

  &__cost {
    @include txt(1);
    position: relative;
    left: 50%;
    display: inline-block;
    margin-bottom: 25px;
    max-width: 250px;
    font-size: 30px;
    color: $text-color;
    transform: translateX(-50%);
    @extend %rubic;

    &::after {
      @include pseudo($content: "₽");
      right: -25px;
      top: 0;
    }
  }
}

.order {
  margin: 60px 0;

  &__title,
  &__subtitle {
    @include txt(1);
    margin-bottom: 25px;
    text-align: center;
    color: $text-color;
  }

  &__title {
    font-size: 26px;
    @extend %mw-bold;
  }

  &__subtitle {
    font-size: 20px;
  }

  &__inner {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  &__form {
    margin-right: 25px;
  }

  &__label {
    &:not(:last-child) {
      margin-right: 25px;
    }
  }

  &__input {
    border: 2px solid transparent;
    border-bottom: 2px solid $acnt-color;
    padding: 10px 5px;
    height: 50px;
    max-width: 300px;
    font-size: 20px;
    color: $text-color;

    &::placeholder {
      font-size: 20px;
      color: $text-color;
    }

    &:focus {
      border: 2px solid $acnt-color;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__send {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    @include txt(1);
    margin-bottom: 15px;
    border: 1px solid transparent;
    padding: 15px 35px;
    max-width: 300px;
    font-size: 18px;
    text-transform: uppercase;
    color: $text-color;
    background-color: #3cb458;
    transition: all 0.6s;
    cursor: pointer;

    &:hover {
      border-color: #3cb458;
      background-color: #ffffff;
    }
  }

  &__confirm {
    display: flex;
    align-items: center;
    max-width: 400px;
  }

  &__checkbox {
    position: absolute;
    z-index: 2;
    width: 18px;
    height: 18px;
    opacity: 0;
    cursor: pointer;

    &:checked {
      .order__check {
        background-color: #3cb458;
      }
    }
  }

  &__check {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    margin-right: 15px;
    border: 1px solid $acnt-color;
    border-radius: 4px;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
  }

  &__ok {
    @include txt(1);
  }
}

.map {
  margin-bottom: 60px;

  &__address {
    display: inline-block;
    margin: 25px 0;
    border-bottom: 1px solid $acnt-color;
    font-size: 22px;
    line-height: 1.5em;
    color: $text-color;
  }
}
