.best {
  margin-bottom: 60px;

  &__inner {
    background-position: left bottom;
    background-size: 60%;
    background-repeat: no-repeat;
    @include mq("768") {
      background-size: 0%;
    }
  }

  &__content {
    margin-left: auto;
    max-width: 55%;
    @include mq("768") {
      max-width: 90%;
    }
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: auto;
    border-bottom: 2px solid $acnt-color;
    margin-bottom: 40px;
    padding-bottom: 10px;
    max-width: 60%;
    @include mq("1024") {
      max-width: 100%;
      text-align: center;
    }
  }

  &__choise {
    display: flex;
    align-items: center;
    transition: transform 0.6s;
    cursor: default;
    @include mq("768") {
      margin-bottom: 20px;
    }
    @include mq("400") {
      justify-content: center;
      width: 100%;
      &:last-child {
        margin-left: -25px;
      }
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__pic {
    margin-right: 15px;
    max-width: 50px;
    max-height: 50px;
  }

  &__text {
    @include txt(2);
    display: block;
    max-width: 130px;
    max-height: 2.2em;
  }

  &__list {
    list-style: decimal-leading-zero;
  }

  &__item {
    min-width: 50%;
    font-size: 20px;
    color: $acnt-color;
    @include mq("1024") {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
    @extend %mw-regular;
  }

  &__txt {
    @include txt(2);
    @include mq("1024") {
      font-size: 18px;
    }
  }

  &__description {
    @include txt(2);
    margin: 15px 0;
    color: $text-color;
    @include mq("1024") {
      font-size: 16px;
    }
    @include mq("768") {
      display: block;
    }
    @extend %rubic;
  }
}
