.reviews {
  border-radius: 0 100px;
  padding: 30px 0;
  background: linear-gradient(to top left, $bg-color 50%, #ffffff);
  @include mq("768") {
    border-radius: 0 40px;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    margin: 0 auto;
    max-width: 260px;
  }
}

.review {
  margin-bottom: 60px;
  border-left: 2px solid $acnt-color;
  padding-left: 15px;
  max-width: 30%;
  transition: transform 0.6s;
  cursor: default;
  @include mq("768") {
    display: block;
    max-width: 90%;
  }

  &:not(:last-child) {
    margin-right: 25px;
  }

  &:hover {
    transform: translateY(-15px);
  }

  &__name {
    @include txt(1);
    display: block;
    margin-right: 15px;
    max-height: 1.2em;
    font-style: italic;
    font-size: 20px;
    @include mq("1024") {
      font-size: 16px;
    }
  }

  &__date {
    @include txt(1);
    max-width: 100px;
    max-height: 1.2em;
    @include mq("1024") {
      font-size: 14px;
    }
  }

  &__text {
    @include txt(7);
    @include mq("1024") {
      font-size: 14px;
    }
  }
}
