<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__content">
        <svg class="logo">
          <use xlink:href="images/dest/sprite.svg#Cargo"></use>
        </svg>

        <a class="footer__link" href="#">
          Политика
          конфиденциальнности
        </a>

        <a class="footer__link" href="#">
          Соглашение на обработку персональных данных
        </a>
      </div>

      <ul class="footer__content">
        <li class="footer__item">
          <a href="" class="footer__link">Главная</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Цена</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Автопарк</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Отзывы</a>
        </li>
        <li class="footer__item">
          <a href="" class="footer__link">Контакты</a>
        </li>
      </ul>

      <div class="footer__box">
        <ul class="footer__social">
          <li class="footer__social-item">
            <a class="footer__link" href="#">
              <svg class="footer__icon">
                <use xlink:href="images/dest/sprite.svg#y"></use>
              </svg>
            </a>
          </li>

          <li class="footer__social-item">
            <a class="footer__link" href="#">
              <svg class="footer__icon">
                <use xlink:href="images/dest/sprite.svg#vk"></use>
              </svg>
            </a>
          </li>

          <li class="footer__social-item">
            <a class="footer__link" href="#">
              <svg class="footer__icon">
                <use xlink:href="images/dest/sprite.svg#fb"></use>
              </svg>
            </a>
          </li>

          <li class="footer__social-item">
            <a class="footer__link" href="#">
              <svg class="footer__icon">
                <use xlink:href="images/dest/sprite.svg#insta"></use>
              </svg>
            </a>
          </li>
        </ul>

        <a class="footer__mail" href="#">hello@movee.ru</a>
      </div>

      <div class="footer__box">
        <a class="footer__btn" href="#">Обратный звонок</a>
        <a class="footer__tel" href="tel:88000801213">
          8 (800)-080-12-13
        </a>
      </div>
    </div>
  </div>
</footer>