<header class="header">
  <div class="container">
    <nav class="menu">
      <svg class="logo">
        <use xlink:href="images/dest/sprite.svg#Cargo"></use>
      </svg>

      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#">Цены</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Автопарк</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Отзывы</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#">Контакты</a>
        </li>
      </ul>

      <a class="menu__number" href="tel:8(800)-080-12-13">
        <svg class="menu__phone">
          <use xlink:href="images/dest/sprite.svg#phone"></use>
        </svg>
        8(800)-080-12-13</a>
    </nav>

    <div class="header__inner">
      <img class="header__bg-img" src="images/dest/deliv.png"></img>

      <div class="header__content">
        <h1 class="header__title">
          Транспортировка любой сложности
        </h1>

        <span class="header__add">По городу и области, 7 дней в неделю, 24/7
        </span>

        <a class="btn" href="#">Заказать</a>
      </div>
    </div>
  </div>
</header>